<div class="container" id="form-box">
	<h1 style="font-family: 'Finger Paint', cursive; text-align: center;">Add an image</h1>
	<h4 style="font-family: 'Finger Paint', cursive;margin-top: 0;text-align: center;"> "lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut"</h4><br>


<!-- :html => {:multipart => true}  enables us to have a file_field for image -->
	<%= form_for @image, :html => {:multipart => true} do |f| %>
		<!-- check for errors -->
		<% if @image.errors.any? %>
			<% @image.errors.full_messages_each do |msg| %>
			<!-- show errors -->
			<div class="alert alert-message"><%= msg %></div>
			<% end %>
		<% end %>

		<div class="form-group">
			<%= f.label :image %><br>
			<%= f.file_field :image%>
		</div>
		<div class="form-group">
			<%= f.label :image_title %>
			<%= f.text_field :image_title, placeholder: "Enter a suitable title for your image", class:"form-control" %>
		</div>
		<div class="form-group">
			<%= f.label :category %>
			<%= f.select :category_id, Category.all.collect {|x| [x.name, x.id]}, {:include_blank => 'Select from the list below or create a new one'}, class:"form-control" %>
		</div>
		<div class="form-group">
			<%= f.label :image_description %>
			<%= f.text_field :image_description, placeholder: "What does your image say? Make it interesting!", class:"form-control" %>
		</div>
		<div class="form-group">
			<%#= f.label :remote_image_url, 'or image url' %>
			<%#= f.text_field :remote_image_url, placeholder: "Don't want to upload? Put an image link from the internet here!", class:"form-control" %>
		</div>
		<hr>

		<%= f.submit "Submit", class:"btn btn-dark" %>
		<%= link_to "Cancel", root_path, class:"btn btn-light" %>
	<% end %>
</div>


<style type="text/css">
	#form-box {
		background: rgba(255,255,255,.5);
    	padding: 15%;
    	padding-top: 8%;
    	padding-bottom: 8%;
    	border: 2px solid #666;
	}
</style>