<div class="container" id="form-box">
	<h1 style="font-family: 'Finger Paint', cursive; text-align: center;">Edit Category</h1>
	<h4 style="font-family: 'Finger Paint', cursive;margin-top: 0;text-align: center;"> "lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut"</h4><br>

	<%= form_for @category do |f| %>
		<!-- check for errors -->
		<% if @category.errors.any? %>
			<% @category.errors.full_messages_each do |msg| %>
			<!-- show errors -->
			<div class="alert alert-message"><%= msg %></div>
			<% end %>
		<% end %>

		<div class="form-group">
			<%= f.text_field :name, placeholder: "Name", class:"form-control" %>
		</div>
		<%= f.submit "Submit", class:"btn btn-dark" %>
		<%= link_to "Cancel", root_path, class:"btn btn-light" %>
	<% end %>
</div>

<div class="container" style="margin-top: 5%;">Images in <%= @category.name %><hr>
<div id="edit_images">
	<% if @images.exists? %>
		<% @images.each_slice(6) do |image| %>
		<div class="row">
			<% image.each do |image| %>
				<div class="col-md-2">
					<%= image_tag image.image_url(:thumb) %>
					<center><%= link_to "Remove", image_path(image), method: :delete, class:"delete-link" %></center>
				</div>
			<% end %>
		</div>
		<% end %>
	<% end %>
</div>
</div>

<style type="text/css">
	#form-box {
		background: rgba(255,255,255,.5);
    	padding: 15%;
    	padding-top: 8%;
    	padding-bottom: 8%;
    	border: 2px solid #666;
	}
	.delete-link, .delete-link:hover {
		text-decoration: none;
		font-size: 10px;
		color: crimson;
	}
</style>